<!--@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
-->
@{
    ViewBag.Title = "Index";
}

<doctype html>
    <html>
    <head>
        <title>@ViewBag.Title - Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div align="center"><h1>Dashboard</h1></div>
            <div class="row container-fluid">
                <div class="col-lg-4" style="background-color:white;height:200px;width:300px;margin-left:200px;border-style:solid;border-color:lightblue;margin-right:100px; box-shadow:10px 10px 5px #888888">
                    <div align="center"><h1>Accession Records</h1></div><div align="center"><button id="button1">GOTO</button></div>
                </div>
                        <div class="col-lg-4" style="background-color:white;height:200px;width:300px;border-style:solid;margin-bottom:35px;border-color:lightblue; box-shadow:10px 10px 5px #888888">
                    <div align="center"><h1>Books</h1></div><div align="center"><br /><button id="button2">GOTO</button></div>
                </div>
            
           </div>
            <div class="row container-fluid">
                <div class="col-lg-4" style="background-color:white;height:200px;width:300px;margin-left:200px;border-style:solid;border-color:lightblue;margin-right:100px; box-shadow:10px 10px 5px #888888">
                    <div align="center"><h1>Members</h1></div><div align="center"><br /><button id="button3">GOTO</button></div>
                </div>
                    <div class="col-lg-4" style="background-color:white;height:200px;width:300px;border-style:solid;border-color:lightblue; box-shadow:10px 10px 5px #888888">
                        <div align="center"><h1>Issued Items</h1></div><div align="center"><br /><button id="button4">GOTO</button></div>
                    </div>
            </div>
            </div>
    </body>
</html>
