<!--@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
-->
@{
    ViewBag.Title = "Index";
}
<doctype html>
    <html>
    <head>
        <title>@ViewBag.Title - Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <h1 class="text-center">Dashboard</h1>
            <!-- BEGIN ROW -->
            <div class="row">
                <div class="col-md-3 col-sm-3"></div>
                <!--- BEGIN CARD -->
                <div class="col-md-3 col-sm-3 card">
                    <h1 class="card-header">
                        Accession Register
                    </h1>
                    <div class="text-center">
                        <a href="~/Views/AccessionRecords/Index.cshtml" class="btn btn-primary go-btn">GO!</a>
                    </div>
                </div>
                <!-- END CARD -->
                <!--- BEGIN CARD -->
                <div class="col-md-3 col-sm-3 card">
                    <h1 class="card-header">
                        Accession Register
                    </h1>
                    <div class="text-center">
                        <a href="~/Views/AccessionRecords/Index.cshtml" class="btn btn-primary go-btn">GO!</a>
                    </div>
                </div>
                <!-- END CARD -->
                <div class="col-md-3 col-sm-3"></div>
            </div>
            <!-- END ROW -->
            <!-- BEGIN ROW -->
            <div class="row">
                <div class="col-md-3 col-sm-3"></div>
                <!--- BEGIN CARD -->
                <div class="col-md-3 col-sm-3 card">
                    <h1 class="card-header">
                        Accession Register
                    </h1>
                    <div class="text-center">
                        <a href="~/Views/AccessionRecords/Index.cshtml" class="btn btn-primary go-btn">GO!</a>
                    </div>
                </div>
                <!-- END CARD -->
                <!--- BEGIN CARD -->
                <div class="col-md-3 col-sm-3 card">
                    <h1 class="card-header">
                        Accession Register
                    </h1>
                    <div class="text-center">
                        <a href="~/Views/AccessionRecords/Index.cshtml" class="btn btn-primary go-btn">GO!</a>
                    </div>
                </div>
                <!-- END CARD -->
                <div class="col-md-3 col-sm-3"></div>
            </div>
            <!-- END ROW -->
        </div>
    </body>
</html>
